

/* h1{
    background-color: salmon;
} */

:root {
    --headerColor: rgb(41, 50, 78);
    --mainColor: #e6f3ff;
    --fontColor: rgb(42, 56, 104);
}

*{
    /* background-color: rgb(208, 224, 235); */
    color: var(--fontColor);
    
}

body{
    background-color:var(--mainColor)
}

header{
    position: relative;
    display:inline-flex;
    padding: 10px;
    color: black;
    background-color:var(--headerColor)
    ;
    width: 100%;
    height:70px;
}

nav{
    /* display:inline-flex; */
    /* padding-top: 1%; */
    position: relative;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    /* margin-bottom: 0; */
    font-size: 30px;
    width: 80%;
    /* text-align: right; */
    /* background-color: steelblue; */

}

li{
    display: inline;
    /* text-decoration: none; */
    padding: 15px;
}

footer li{
    padding: 20px;
}

.underline{
    color: rgb(189, 242, 255);
    border-bottom: 4px solid  rgb(189, 242, 255);
    text-decoration: none;
}

.underline2{
    color: var(--fontColor);
    border-bottom: 3px solid  var(--fontColor);
    text-decoration: none;   
    margin: 100px 0 0px 100px;
}

header div{
    position: relative;
    display: flex;
    justify-content:flex-end ;
    width: 20%;
    background-color: rgb(189, 242, 255);
    /* bottom: 0; */
}


h1{
    /* text-align: right;
    padding-right: 5px; */
    font-size: 50px;
    /* padding: 3px; */
    position:absolute;
    bottom: 0;
    color: var(--headerColor);
    /* bottom: 0; */
}


article {
    position: relative;
    display: flex;
    justify-content:flex-end ;
    height: 100px;
    background-color: rgb(226, 108, 39);
    /* vertical-align: text-bottom; */
    /* align-items:baseline; */
    /* padding: 20px; */
    height: 150px;
}

.img-sub{
    width: 100%;
}

article h2{
    margin: 15px;
    position:absolute;
    bottom: 0;
    font-size: 40px;
    background-color: rgb(189, 242, 255);
    padding: 7px;
}

main{
    /* position: relative;
    display:inline-flex; */
    background-color: var(--mainColor);
}

section{
    padding: 5px;
    position: relative;
    display:inline-flex;
    height:auto;
    width: 100%;
    /* background-color:var(--mainColor); */
}

h2{
    padding-right: 4px;
}

section h2,
footer h2{
    position: relative;
    display: flex;
    justify-content:flex-end ;
    /* background-color: red; */
    width: 20%;
    height: 40px;
    font-size: 250%;
}

section p{
    padding: 5px;
    height: auto;
    width: 80%;    
    border-left: 4px solid var(--fontColor);
    /* background-color:red; */
}


.main-imgs{
    position: relative;
    width: 80%;
    /* background-color: springgreen; */
    height:fit-content;
    /* display: inline; */
    border-left: 4px solid var(--fontColor);


}

figure{
    position: relative;
    background-color: rgb(136, 227, 255);
    /* width: 50px;
    height: 10px; */
    /* display: inline; */
    /* background-image: url("https://via.placeholder.com/500x500?text=Visit+Blogging.com+Now"); */

}

#img1{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    width: 500px;
    border:6px solid rgb(139, 197, 211);
}

#img1 img:hover,
.img2-prop img:hover{
    filter: blur(0px);
}

.filter{
    transition: 0.5s;
    filter:  blur(1.2px);
}

h3{
    /* ------------Posición dentro de su container, en este caso un div------------- */
    position: absolute;
    top: 30%;
    z-index: 1;
    /* --------------Texto dentro de H3 -------------------*/
    display: flex;
    justify-content:center ;
    align-items: center;
/* 
    margin-left: 200px;
    margin-right: auto; */
/* 
    margin-top: 10px;
    margin-bottom: 10px; */
    height: 50px;
    width: 100px;
    background-color: rgb(139, 197, 211);
    /* border:6px solid black; */
    /* z-index: 1; */
}

.img2-prop{
    /* margin-left: auto;
    margin-right: auto; */
    /* padding-left: 10px; */
    display: inline-flex;
    margin: 5px;
    border: 6px solid rgb(139, 197, 211);
    height: 100px;
    width: 49%;
}


footer{
    padding-top: 30px;
    position: relative;
    display:inline-flex;
    height: 100px;
    width: 100%;
    background-color: var(--mainColor)
    ;
}

footer h2{
    position: relative;
    display: flex;
    justify-content:flex-end ;
    /* background-color: rgb(211, 5, 5); */
    width: 20%;
    height: 40px;
    
}

ul{
    height: 50px;
    /* background-color: slategray; */
}

footer ul{
    /* margin-left: auto;
    margin-right: auto; */
    border-left: 4px solid var(--fontColor);
    /* background-color: brown; */
    width: 80%;
    
    /* position: relative; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex
 }