:root {
    --headerColor: rgb(41, 50, 78);
    --mainColor: #c5e3ff;
    --fontColor: rgb(42, 56, 104);
    /* --mainColor: #1a82e4; */
}

*{
    color: var(--fontColor);
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;

}


header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display:inline-flex;
    align-content: space-between;
    padding: 10px;
    color: black;
    background-color:var(--headerColor);
    width:100%;
    height:auto;
}
 
body{
    background-color:var(--mainColor);
    /* display: flex;
    flex-wrap: wrap; */
} 


nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:flex-end ;
    align-items: center;
    font-size: 30px;
    width: 100%;

}

header a{
    margin: 10px;
    
}

li{
    padding: 15px;
}
/* 
footer li{
    padding: 20px;
} */

.underline{
    color: rgb(189, 242, 255);
    border-bottom: 4px solid  rgb(189, 242, 255);
    text-decoration: none;
}

.underline2{
    color: var(--fontColor);
    border-bottom: 3px solid  var(--fontColor);
    text-decoration: none;   
    margin: 0px 0 15px 80px;
}

header div{
    position: relative;
    display: flex;
    justify-content:flex-end ;
    width: 20%;
    background-color: rgb(189, 242, 255);  
}

h1{
    font-size: 200%;
    position:absolute;
    bottom: 0;
    color: var(--headerColor);
}

article {
    position: relative;
    display: flex;
    justify-content:flex-end ;
    height: 150px;
    background-color: rgb(226, 108, 39);
    width: 100%;
    margin-top: 74px;
}

.img-sub{
    width: 100%;
}

main img{
    /* border:10px ridge rgb(139, 197, 211); */
    border-radius: 10px;
}

article h2{
    margin: 15px;
    position:absolute;
    bottom: 0;
    font-size: 300%;
    background-color: rgb(189, 242, 255);
    padding: 7px;
}

main{
    background-color: var(--mainColor);
    display: flex;
    flex-wrap: wrap;
}


section{
    padding: 5px;
    position: relative;
    display:inline-flex;
    height:auto;
    width: 100%;
    scroll-behavior: smooth; 
    /* overflow-y: scroll; */
}

h2{
    padding-right: 4px;
}

section h2,
footer h2{
    position: relative;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    width: 20%;
    height: 40px;
    font-size: 300%;
    margin-bottom: 50px;
    
}

section p{
    font-size: 150%;
    padding: 5px;
    height: auto;
    width: 80%;    
    border-left: 4px solid var(--fontColor);
    overflow-wrap:break-word;
}


.main-imgs{
    position: relative;
    width: 80%;
    height:fit-content;
    border-left: 4px solid var(--fontColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    position: relative;
    background-color: rgb(136, 227, 255);
}

#img1{    
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 900px;
    border:10px ridge rgb(139, 197, 211);
    border-radius: 20px;
}

#img1 img:hover,
.img2-prop img:hover{
    filter: blur(0px);
}
.filter{
    transition: 0.6s;
    filter:  blur(1.9px);
    width:100%;
    height: auto;
}

h3{
    position: absolute;
    top: 30%;
    z-index: 1;
    border-top:2px solid rgb(42, 56, 104);
    border-bottom:2px solid rgb(42, 56, 104);
    border-right:2px solid rgb(42, 56, 104);
    font-size: 150%;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: fit-content;
    width: 150px;
    background-color: rgb(116, 186, 204);
    
}

.img2-prop{
    margin: 10px;
    height: auto;
    width: 440px;
    border:10px ridge rgb(139, 197, 211);
    border-radius: 20px;
}


footer{
    /* padding-top: 30px; */
    position: relative;
    display:flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    /* background-color: red; */
    margin: 3px;
    
}

footer h2{
    position: relative;
    display: flex;
    justify-content:flex-end ;
    height: auto;
    
}

footer div{
    border-left: 4px solid var(--fontColor);
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;  
    /* margin-right: 50px; */
} 

footer a{
    margin: 20px;
    text-decoration: none;
    border-bottom: 3px solid var(--fontColor);
}


  @media screen and (max-width: 1164px) {
    figure, img{
        min-width: 50%;
    }
  }
  
 @media screen and (max-width: 1250px) {
    *{
      font-size: 95%;
    }
  }

  @media screen and (max-width: 1020px) {
    *{
      font-size: 93%;
    }
  }

  
  @media screen and (max-width: 849px) {
    *{
      font-size: 90%;
    }
    h1{
        font-size: 220%;
    }
  }

  @media screen and (max-width: 460px) {
    nav a{
        font-size: 14px;
    }
    main{
      font-size: 70%;
    }
 }

 @media screen and (max-width: 320px) {
    header a{
        font-size: 20px;
    }
    main{
      font-size: 63%;
    }
    /* footer h2{
        font-size: 70%;
    } */
 }

  @media screen and (max-width: 690px) {
    nav{
        flex-direction: column;
        
    }
    footer div{
        flex-direction: column;
        
    }
    header div{
        height: 50px;
    }
    h1{
        font-size: 100%;
    }
    article{
        margin-top: 165px;
    }
    article h2{
        font-size: 170%;
    }
    footer a{
        font-size: 140%;
    }
    /* nav a{
        font-size: 28px;
    } */
    footer h2{
        font-size: 165%;
    }
  }

  @media screen and (max-width: 1025px){
    .font-sizing{
        font-size: 3vw;
    }
    footer div{
        flex-direction: column;
        
    }
  }
