/* This are CSS variables. Instead of copy and paste the same colors over and over again, you can place them in this variables. */
:root {
  --headerColor: rgb(41, 50, 78);
  --mainColor: #c5e3ff;
  --fontColor: rgb(42, 56, 104);
}

/* This is a universal selector, it will apply this properties to the whole webpage */
* {
  color: var(--fontColor);
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

/* All HTML <header> tags will have this properties */
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: inline-flex;
  align-content: space-between;
  padding: 10px;
  background-color: var(--headerColor);
  width: 100%;
  height: auto;
}

/* All HTML <body> tags will have this properties */
body {
  background-color: var(--mainColor);
}

/* The HTML <nav> tag will have this properties */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  width: 100%;
}

/* All HTML <a> tags inside the <header> tag will have this properties */
header a {
  margin: 10px;
}

/*Creates a class named "underline", its properties will apply to all the HTML elements calling this class*/
.underline {
  color: rgb(189, 242, 255);
  border-bottom: 4px solid rgb(189, 242, 255);
  text-decoration: none;
}

/*Creates a class named "underline2", its properties will apply to all the HTML elements calling this class*/
.underline2 {
  color: var(--fontColor);
  border-bottom: 3px solid var(--fontColor);
  text-decoration: none;
  margin: 0px 0 15px 80px;
}

/* All HTML <div> tags inside the <header> tag will have this properties */
header div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  background-color: rgb(189, 242, 255);
}

/* The HTML <h1> tag will have this properties */
h1 {
  font-size: 200%;
  position: absolute;
  bottom: 0;
  color: var(--headerColor);
}

/* The HTML <article> tag will have this properties */
article {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 150px;
  background-color: rgb(226, 108, 39);
  width: 100%;
  margin-top: 73px;
}

/*Creates a class named "img-sub", its properties will apply to all the HTML elements calling this class*/
.img-sub {
  width: 100%;
}

/* All HTML <img> tags inside the <main> tag will have this properties */
main img {
  border-radius: 10px;
}

/* All HTML <h2> tags inside the <article> tag will have this properties */
article h2 {
  margin: 15px;
  position: absolute;
  bottom: 0;
  font-size: 300%;
  background-color: rgb(189, 242, 255);
  padding: 7px;
  box-shadow: 2px 3px 6px #a5c6f7;
}

/* The HTML <section> tags will have this properties */
section {
  padding: 5px;
  display: inline-flex;
  height: auto;
  width: 100%;
}

/* The HTML <h2> tags will have this properties */
h2 {
  padding-right: 4px;
}

/* All HTML <h2> tags inside the <section> and <footer> tags will have this properties */
section h2,
footer h2 {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  font-size: 300%;
  margin-bottom: 50px;
}

/* All HTML <p> tags inside the <section> tag will have this properties */
section p {
  font-size: 150%;
  padding: 5px;
  height: auto;
  width: 80%;
  border-left: 4px solid var(--fontColor);
}

/*Creates a class named "main-img", its properties will apply to all the HTML elements calling this class*/
.main-imgs {
  width: 80%;
  border-left: 4px solid var(--fontColor);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* The HTML <figuere> tags will have this properties */
figure {
  position: relative;
  background-color: rgb(136, 227, 255);
}

/*Creates an ID named "img1", its properties will apply to all the HTML elements calling this class*/
#img1 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 900px;
  border: 10px ridge rgb(139, 197, 211);
  border-radius: 20px;
}

/*Creates a hover selector over the ID named "img1" and "img2-prop", it targets all the img inside this two ID's to make them blur*/
#img1 img:hover,
.img2-prop img:hover {
  filter: blur(0px);
}

/*Creates a class named "filter", its properties will apply to all the HTML elements calling this class*/
.filter {
  transition: 0.6s;
  filter: blur(1.9px);
  width: 100%;
  height: auto;
}

/* The HTML <h3> tags will have this properties */
h3 {
  position: absolute;
  top: 30%;
  z-index: 1;
  border-top: 2px solid rgb(42, 56, 104);
  border-bottom: 2px solid rgb(42, 56, 104);
  border-right: 2px solid rgb(42, 56, 104);
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 150px;
  background-color: rgb(116, 186, 204);
}

/*Creates a class named "img2-prop", its properties will apply to all the HTML elements calling this class*/
.img2-prop {
  margin: 10px;
  height: auto;
  width: 440px;
  border: 10px ridge rgb(139, 197, 211);
  border-radius: 20px;
}

/* The HTML <footer> tags will have this properties */
footer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 3px;
}

/* All HTML <h2> tags inside the <footer> tag will have this properties */
footer h2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: auto;
}

/* All HTML <div> tags inside the <footer> tag will have this properties */
footer div {
  border-left: 4px solid var(--fontColor);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* All HTML <a> tags inside the <footer> tag will have this properties */
footer a {
  margin: 20px;
  text-decoration: none;
  border-bottom: 3px solid var(--fontColor);
}

/* It reajust the HTML elements to have a Responsive layout */
@media screen and (max-width: 1025px) {
    * {
      font-size: 93%;
    }
    .font-sizing {
      font-size: 3vw;
    }
    footer div {
      flex-direction: column;
    }
  }
  
  /* It reajust the HTML elements to have a Responsive layout */
  @media screen and (max-width: 1164px) {
    figure,
    img {
      min-width: 50%;
    }
  }
  
  /* It reajust the HTML elements to have a Responsive layout */
  @media screen and (max-width: 1250px) {
    * {
      font-size: 95%;
    }
  }

  /* It reajust the HTML elements to have a Responsive layout */
@media screen and (max-width: 320px) {
  header a {
    font-size: 20px;
  }
  main {
    font-size: 63%;
  }
}

/* It reajust the HTML elements to have a Responsive layout */
@media screen and (max-width: 460px) {
  nav a {
    font-size: 14px;
  }
  main {
    font-size: 70%;
  }
}

/* It reajust the HTML elements to have a Responsive layout */
@media screen and (max-width: 690px) {
  nav {
    flex-direction: column;
  }
  footer div {
    flex-direction: column;
  }
  header div {
    height: 50px;
  }
  h1 {
    font-size: 100%;
  }
  article {
    margin-top: 165px;
  }
  article h2 {
    font-size: 170%;
  }
  footer a {
    font-size: 140%;
  }
  footer h2 {
    font-size: 165%;
  }
}

/* It reajust the HTML elements to have a Responsive layout */
@media screen and (max-width: 849px) {
  * {
    font-size: 90%;
  }
  h1 {
    font-size: 120%;
  }
}

